{% extends 'base.html' %} 
{% load static %}

{% block tittle %}
     Product
 {% endblock %}

{% block content %}	
  <div class="container py-5">
  	<div class="row mt-5">
  		<div class="col-10 mx-auto col-md-6 my-3">
  			<img src="{% static 'images/teddy.png' %}">
  		</div>
  	</div>
  </div>

  <div class="col-10 mx-auto col-md-6 my-3">
  	<div>
  		<h1 class="produuct_title">Teddy Bear</h1>
  		<h5 class="text-info font-italic mb-4">
    		    			   $9.99	
    		    			</h5>
  		<p class="product_desc">Product Description</p>
  		<p class="text-justify product_text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
  		<p class="text-justify product_text">Out Of Stock</p>
  	</div>  	
  </div >
{% endblock %}	